@model HandMade.Models.MessageScreen

@{
    ViewBag.Title = "تم تأكيد طلبك";
}

<div class="row" style="position:absolute; top:45%; left:10%; right:10%;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 containInCon" style="padding:20px 20px 3px 20px; border-radius:10px;">
        <p style="text-align:center;">
            @if (Model.Typr == "true")
            {
                <img src="~/Content/imgs/true.png" width="30" alt="ASP.NET" class="img-responsive" />
            }
            else if (Model.Typr == "false")
            {
                <img src="~/Content/imgs/error.png" width="30" alt="ASP.NET" class="img-responsive" />
            }
            else
            {
                <img src="~/Content/imgs/info.png" width="30" alt="ASP.NET" class="img-responsive" />

            }
            &nbsp; @Model.Content
        </p>
        @{
            if (Model.Extra != "")
            {
                <hr />
                <p style="width:100%; text-align:center">
                    @Model.Extra
                </p>
            }
        }
    </div>
    <div class="col-md-4">

    </div>

</div>
